@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat+Subrayada|Lato');

:root {
  --orange: #E27D60;
  --light-blue: rgb(140, 243, 243);
  --light-orange: #E8A87C;
  --pink: #C38D9E;
  --blue: #41B3A3;
}

body {
  background: var(--light-blue);
  color: rgb(0, 26, 51);
}

h1 {
  display: inline-block;
  font-size: 2em;
  padding: 0.1em;
  font-family: 'Montserrat Subrayada', sans-serif; 
}

h2 {
  margin: 0em 0 0.5em 0;
  font-size: 3em;
  padding: 0.4em;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif; 
  font-size: 2em;
}

a {
  font-family: 'Raleway', sans-serif;
  color:  rgb(0, 26, 51);
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  padding: 1em;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 2em;  
}

.topnav {
  background-color: var(--blue);
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 0.6em 0.8em;
  text-decoration: none;
  font-size: 1.2em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--orange);
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

.main-gif {
  margin: 0 auto;
  display: block;
  max-width: 20%;
  display: inline;
}


/* -------------------spreading divs------------- */

.spread {
  transform: translate(-35em) rotate(-45deg);
}

.spread > div:nth-child(1) {
  animation-duration: 6.5s;
  animation-name: slidein;
  background-color: var(--light-orange);
  height: 2em;
  margin: 2em;
}

.spread > div:nth-child(2) {
  animation-duration: 5.5s;
  animation-name: slidein;
  background-color: var(--blue);
  height: 2em;
  margin: 2em;
}

.spread > div:nth-child(3) {
  animation-duration: 4.5s;
  animation-name: slidein;
  background-color: var(--pink);
  height: 2em;
  margin: 2em;
}

@keyframes slidein {
  from {
    width: 0%; 
  }

  to {
    width: 70%;
  }
}

/*------------------------- form ------------------------ */

/* add event form */

.gender-span .gender,
.solo-span .solo {
  display: inline-block;
  font-weight: normal;
}


.gender-span {
  display: block;
}

/* Home search styling  */

#home-form {
  max-width: 25em;
}

#home-form input {
  width: 100%;
}

input[type="radio" i] {
  height: 1.8em;
  padding: 1em;
  margin: 0;
  max-width: 4em;
}

#search-events,
#home-submit {
  display: inline-block;
}

/* Other forms styling  */

.form {
  margin: 0 auto;
  max-width: 30em;
  padding: 2em 1em 1em 2em;
}

.form label {
  margin: 0.6em 0 0.4em 0;
  padding: 0em;
  display: block;
  font-weight: regular;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  color: rgb(0, 26, 51);
}

.form input[type="text"],
#age-options,
.form input[type="password"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0.2em solid var(--light-orange);
  padding: 1em;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form textarea:focus {
  -moz-box-shadow: 0 0 0.8em #c94b3a;
  -webkit-box-shadow: 0 0 0.8em #c94b3a;
  box-shadow: 0 0 0.8em #c94b3a;
  border: 0.2em solid #c94b3a;
}

.form {
  width: 60%;
}

.form .field-long {
  width: 100%;
}

.form .field-textarea {
  height: 100%;
}

.button-submit {
  background: var(--orange);
  margin: 0.8em 0 0.6em 0;
  padding: 0.6em;
  text-align: center;
  border: none;
  color: #fff;
  font-family: 'Montserrat Subrayada', sans-serif; 
  font-size: 1.4em;
  color:  rgb(0, 26, 51);
}

.button-submit :hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* --------------------events page-------------------- */

.read-event {
  text-align: center;
}

/* --------------------teams page-------------------- */

.read-team {
  text-align: center;
}


/* ---------------- media queries --------------- */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
