<main class="page-content error-pages">
    <section class="404" id="404">
        <ul class="event-list">
            <li>
                <h3>404 Page not found</h3>
                <iframe src="https://giphy.com/embed/PNN3THuDp8ngWwawOa" width="480" height="270" frameBorder="0" class="giphy-embed"
                    allowFullScreen></iframe>
                <p><a href="https://giphy.com/stickers/vflwolfsburg-social-calcio-voetbal-PNN3THuDp8ngWwawOa"></a></p>
        </ul>
    </section>
</main>