<main class="page-content error-pages">
    <section class="500" id="500">
        <ul class="event-list">
            <li>
                <h3>500 Internal Server Error</h3>
                <iframe src="https://giphy.com/embed/8hZ5HQJxSNBwBuZ3qi" width="480" height="270" frameBorder="0" class="giphy-embed"
                    allowFullScreen></iframe>
                <p><a href="https://giphy.com/stickers/vflwolfsburg-social-calcio-voetbal-8hZ5HQJxSNBwBuZ3qi"></a></p>
        </ul>
    </section>
</main>