<main class="page-content add-team">
    <section id="add-team" title="add-team">
        <form action='/add-team' method='POST'>
            <h3>Register your Team</h3>
            <ul class="form" id="add-event-form">
                <label for="name-of-event">Team Name</label><input pattern="^[^<>]+$" name='name' type='text' id="name-of-event"
                    class="field-long" placeholder="Name of your team" required />
                <label for="sport"> Preferred Sport</label><input pattern="^[^<>]+$" name='sport' type='text' id="sport" class="field-long"
                    placeholder="Your preferred sport" required />
                <label for="bio">Team Bio</label><input pattern="^[^<>]+$" name='bio' type='text' id="bio" class="field-long"
                            placeholder="Provide a short bio for your team" required />
                <label for="location">Location</label><input pattern="^[^<>]+$" name='location' type='text' id="location"
                    class="field-long" placeholder="Your preferred location (if you have one)" required />
                <label for="Size">Size</label><input pattern="^[^<>]+$" name='size' type='text' id="size"
                    class="field-long" placeholder="How many members are in your team?" required />
                    <label for="image-url">Team Image</label><input pattern="^[^<>]+$" name='teamImage' type='url' id="image-url"
                            class="field-long" placeholder="Paste your image url here" />
                        <label for="age-options">Age Range</label>
                                <select id="age-options" name="ages">
                                  <option value="1" name="ages">18-21</option>
                                  <option value="2" name="ages">22-40</option>
                                  <option value="3" name="ages">41-65</option>
                                  <option value="4" name="ages">66 and over</option>
                                </select>
                <label class="gender-span">Genders<br>
                    <label class="genders" for="mixed">Mixed<input type="radio" id="mixed" name="genders" value="1"
                            checked></label>
                    <label class="genders" for="male">All-Male<input type="radio" id="male" name="genders" value="2"></label>
                    <label class="genders" for="female">All-Female<input type="radio" id="female" name="genders" value="3"></label>
                    <label class="genders" for="other">Other<input type="radio" id="female" name="genders" value="4"></label>
                </label>
                        <label for="skill">Skill level</label>
                                <select id="skill-level" name="skill">
                                  <option value="1" name="skill">Super casual</option>
                                  <option value="2" name="skill">Quite fit</option>
                                  <option value="3" name="skill">Reasonably competitive</option>
                                </select>
                <label class="solo-span">Looking for more members?<br>
                    <label class="solo" for="yes">Yes<input type="radio" id="yes" name="solo" value="true" checked></label>
                    <label class="solo" for="no">Not right now<input type="radio" id="no" name="solo" value="false"></label>
                </label>
                <button type="submit" class="button-submit">Add your Team!</button>
            </ul>
        </form>
    </section>
</main>
