<main class="page-content events">
    <section class="event" id="event">
        <button onclick="location.href='/add-event'" class="button-submit" id="add">Add your own
            event</button>
        <h3>Sort by:</h3>
        <form class="sort-form" action="/events/alpha/" method="post">
            <button type='submit' class="sort button-submit">Alphabetically</button>
        </form>
        <form action="/events/date/" method="post">
            <button type='submit' class="sort button-submit">Date</button>
        </form>
        <ul class="event-list">
            {{#each eventsData}}
             <li><a class="read-more" href="/events/{{id}}">
            <img class="searchTeamPic" src={{image}} alt="Event picture">
                    <h3>{{name}}</h3></a>
                    <p>Open for walk-in participants:</p>{{yesOrNo open}}
                </li>
            {{/each}}
        </ul>
    </section>
</main>