<main class="page-content events">
    <section class="event" id="event">
         <button onclick="location.href='/add-event'" class="button-submit" id="add">Add your own event</button>
        <ul class="event-list">
            {{#each eventsData}}
             <li><a class="read-more" href="/events/{{id}}">
            <img class="searchTeamPic" src={{image}} alt="Event picture">
                    <h3>{{name}}</h3></a>
                    <p>Open for walk-in participants:</p>{{yesOrNo open}}
                </li>
            {{/each}}
        </ul>
    </section>
</main>
