<main class="page-content events">
    <section class="event" id="event">
        <ul class="event-list">
            {{#each eventsData}}
            <li><a class="read-more" href="/events/{{id}}">
                    <h3>{{name}}</h3>
                    <h3>{{reverseDate event_date}}</h3>
                    <h3>Open for walk-in participants: {{yesOrNo open}}</h3>
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>
