<main class="page-content events">
    <section class="event" id="event">
        <button onclick="location.href='/add-event'" class="button-submit" id="add">Add your own
            event</button>
        <h3>Sort by:</h3>
        <form action="/events/alpha/" method="post">
            <button type='submit' id="add" class="button-submit">Alphabetically</button>
        </form>
        <form action="/events/date/" method="post">
            <button type='submit' id="add" class="button-submit">Date</button>
        </form>
        <ul class="event-list">
            {{#each eventsData}}
            <li><a class="read-more" href="/events/{{id}}">
                    <h3>{{name}}</h3>
                    <p>Open for walk-in participants: {{yesOrNo open}}</p>
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>