<main class="page-content events">
    <section class="event" id="event">
        <ul class="event-list">
            {{#each eventsData}}
            <li><a class="read-more" href="/events/{{id}}">
                    <h2>{{name}}</h2>
                    <h2>Open for walk-in participants: {{yesOrNo open}}</h2>
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>
