    <div class="spread-wrap">
    {{> stripes}}
    </div>
<section id="search-home" title="search-home">
    <form action='/search' method='POST'>

        <ul class="form" id="home-form">
            <label for="search-events"><h3>Looking to do sports?</h3></label>
            <label class="solo" for="events">Show me what events are on<input type="radio" id="events" name="table" value="events" checked></label>
            <label class="solo" for="teams">Which teams can I play with/against? <input type="radio" id="teams" name="table" value="teams"></label>
            <input name='sport' type='text' id="search-events" list="sport-list" class="field-long"
                placeholder="Type a sport here" required />
            <datalist name= "sport-list" id="sport-list">
                <option value="chess">
                <option value="checkers">
                <option value="volleyball">
                <option value="water polo">
                <option value="rugby">
                <option value="football">
            </datalist>
                  <button  type="submit" id="home-submit" class="button-submit">Search</button>

        </ul>
    </form>
</section>
