
<section id="search-home" title="search-home">
    <form action='/search-home' method='GET'>
        <ul class="form" id="home-form">
            <label for="search-events">Search events</label><input pattern="^[^<>]+$" name='search-events' type='text'
                id="search-events" class="field-long" placeholder="Type a sport here" required />
            <button type="submit" id="home-submit" class="button-submit">Search</button>
        </ul>
    </form>

             <ul class="event-list">
            {{#each eventData}}
            <li><h2>{{name}}</h2></li>
            {{/each}}
        </ul>
    <img class="main-gif" src="https://media.giphy.com/media/t58dlbfM3LabS/giphy.gif" alt="Man cheering for sport">
</section>
