<main class="page-content login">
        <section id="login" title ="login">
        <form action='/login' method='POST'>


            <h3>Login</h3>
<ul class="form" id="login-form">
            <label for ="username">Name</label><input pattern="^[^<>]+$" name='username' type='text' id="username" class ="field-long" placeholder="Type your name here" required/> 
            <label for ="password">Password</label><input type="password" pattern="^[^<>]+$" name='password' id ="password" class ="field-long" placeholder="Enter your password here" required/>
            <button type="submit" class="button-submit">Login</button>
          </ul>
        </form>
    </section>
</main>