
<h3 id="mapTitle">Discover nearby sports events!</h3>

<button id="locationButton" class="sort button-submit" type="button" name="button">Use my location</button>

<!-- <button id="markerButton" type="button" name="button">Show nearby events</button> -->

<div id="map" />

<div id="eventsData">
  {{eventsData}}
</div>

<script src="">

</script>
