<p>MAPS PAGE</p>

<button id="locationButton" type="button" name="button">Use my location</button>

<button id="markerButton" type="button" name="button">Add a marker</button>

<div id="map" style="width: 50%; height: 400px; background: grey" />
