<main class="page-content error-pages">
    <section class="500" id="500">
      <img id="noResultsGifL" src="https://media.giphy.com/media/5ZYA1gZYUGYBeLCeti/giphy.gif" alt="">
        <img id="noResultsGifR" src="https://media.giphy.com/media/5ZYA1gZYUGYBeLCeti/giphy.gif" alt="">
        <ul class="event-list" id="noResultsUl">

                <h3>Sorry, no one's submitted an event or a team for that sport.</h3>
                <h3>Why don't you add your own?</h3>

                <button onclick="location.href='/add-team'" class="button-submit">Register your team</button>
                <button onclick="location.href='/add-event'" class="button-submit">Add your own event</button>
                      
        </ul>
        
    </section>
</main>
