<main class="page-content events">
    <section class="event" id="event">

        <ul class="event-list">
                <a href="/search-open/{{table}}/{{sport}}">I'm just looking for teams/events I can join</a>
                {{#each sportsData}}
            <li><a class="read-more" href="/teams/{{id}}">
                    <h3>{{name}}</h3>
                </a></li>
                {{/each}}
        </ul>
    </section>
</main>
