<main class="page-content login">
    <section id="sign-up" title="sign-up">
        <form action='/sign-up' method='POST'>


            <h3>Sign up</h3>
            <ul class="form" id="login-form">

                <label for="username">Name</label><input pattern="^[^<>]+$" name='username' type='text' id="username"
                    class="field-long" placeholder="Type your name here" required />
                <label for="password">Password</label><input type="password" pattern="^[^<>]+$" name='password' id="password"
                    class="field-long" placeholder="Enter your password here" required />
                <label for="email">Email</label><input type="email" pattern="^[^<>]+$" name='email' id="email" class="field-long"
                    placeholder="Enter your email here" required />
                <button type="submit" class="button-submit">Sign up</button>
            </ul>
        </form>
    </section>
</main>