<main class="page-content login">
        <section id="sign-up" title ="sign-up">
        <form action='/sign-up' method='POST'>


            <h2>Sign up</h2>
<ul class="form" id="login-form">
            <label for ="name-of-user">Name</label><input pattern="^[^<>]+$" name='name' type='text' id="name-of-user" class ="field-long" placeholder="Type your name here" required/> 
            <label for ="password">Password</label><input type="password" pattern="^[^<>]+$" name='password' id ="password" class ="field-long" placeholder="Enter your password here" required/>
            <button type="submit" class="button-submit">Sign up</button>
          </ul>
        </form>
    </section>
</main>