<nav class="topnav" id="myTopnav">
  <h1>Casual Sports london</h1>
  <a href="/" class="active">Home</a>
  <a href="/login">Login</a>
  <a href="/meetup">Meetup</a>
  <a href="/events">Events</a>
  <a href="/teams">Teams</a>
  <a href="javascript:void(0);" class="icon" onclick="navbarFunction()">
    <i class="fa fa-bars"></i>
  </a>
</nav>