<nav class="topnav" id="myTopnav">
  <h1>Casual Sports</h1>
  <a href="/" class="active">Home</a>
  <a href="login">Login</a>
  <a href="sign-up">Sign up</a>
  <a href="team">I have a team</a>
  <a href="javascript:void(0);" class="icon" onclick="navbarFunction()">
    <i class="fa fa-bars"></i>
  </a>
</nav>