<nav class="topnav" id="myTopnav">
 <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="navbarFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </nav>